header {
    height: 81px;
    text-align: center;
}

header h1 {
    position: absolute;
    left: 50px;
    top: 0;
    padding: 14px 0 0;
}

header h1 a {
    display: block;
    width: 150px;
    height: 40px;
    margin-top: 8px;
    color: transparent;
    background: url(../images/top_logo_pc.png) no-repeat 0 0px;
}

header .lnb li {
    display: inline-block;
}

header .lnb li a {
    display: block;
    height: 81px;
    padding: 0 20px;
    margin: auto;
    font-size: 17px;
    color: #333;
    line-height: 81px;
}

header .spot {
    position: absolute;
    right: 50px;
    top: 0;
}

header .spot li {
    position: relative;
    float: left;
}

header .spot li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 7px;
    background: #ccc;
    transform: translateY(-50%);
    /*위로 50%*/
}

header .spot li:first-child::after {
    display: none;
}

header .spot li a {
    display: block;
    height: 81px;
    padding: 0 10px;
    line-height: 81px;
}

header .spot li:last-child a{
    padding-right: 0;
}

.visual_slide .maintitle{
    text-align: ceter;
    font-size: large;
    color: #000;
}

.visual_slide li > span{
    text-align: center;
    position: inline-block;
    font-size: 16px;
    color: #000;
    margin-left: 50px;
}

.visual_slice li >span.prce{
    
} 
