/*HEADER*/
header {
    background: #fff;
    height: 81px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;       /*메뉴바 스크롤 내려도 따라오게*/
    top: 0;         /*메뉴바 스크롤 내려도 따라오게*/
    z-index: 1;     /*가장 우선순위*/
}

header h1 {
    position: absolute;
    left: 50px;
    top: 0;
    padding: 14px 0 0;
}

header h1 a {
    display: block;
    width: 150px;
    height: 40px;
    margin-top: 8px;
    color: transparent;
    background: url(../images/top_logo_pc.png) no-repeat 0 0px;
}

header .lnb li {
    display: inline-block;
}

header .lnb li a {
    display: block;
    height: 81px;
    padding: 0 20px;
    margin: auto;
    font-size: 17px;
    color: #333;
    line-height: 81px;
}

header .lnb li a:hover{
    color: #333;
    font-weight: bold;
    text-decoration: underline;
}

header .spot {
    position: absolute;
    right: 50px;
    top: 0;
}

header .spot li {
    position: relative;
    float: left;
}

header .spot li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 7px;
    background: #ccc;
    transform: translateY(-50%);
    /*위로 50%*/
}

header .spot li:first-child::after {
    display: none;
}

header .spot li a {
    display: block;
    height: 81px;
    padding: 0 10px;
    line-height: 81px;
}

header .spot li:last-child a{
    padding-right: 0;
}


/*VISUAL*/
.visual_slide2 .main-title,
.visual_slide5 .main-title{
    font-size: 40px;
    text-align: center;
    color: #000;
    font-weight: 800;
    padding: 20px 0px 60px 0px;
    font-family: 'Poppins', 'Noto Sans KR', Verdana, sans-serif;
}

.visual_slide5 .main-title{
    padding: 20px 0px 40px 0px;
}

.visual_slide3 .main-title{
    font-size: 40px;
    text-align: center;
    color: #eee;
    font-weight: bolder;
    padding: 50px 0px 60px 0px;
    font-family: 'Poppins', 'Noto Sans KR', Verdana, sans-serif;
}


.visual_slide5 .slideshow-container5 .sub-title{
    text-align: center;
    font-size: 20px;
    margin-left: 20px;
    padding-bottom: 30px;
}

.visual_slide5 .slideshow-container5 .sub-title ol{
   text-align: center;
}


.visual_slide5 .slideshow-container5 .sub-title ol span a{
   margin-left: 50px;
   font-family:  sans-serif;
}

#effect{
    font-weight: bolder;
    text-decoration: underline;
    font-size: 24px;
}

.visual_slide2 li > span{ 
    position: inline-block;
    font-size: 12px;
    color: #000;
}

.visual_slice2 li> span.price{
    font-weight: bold;
    font-size: 20px;
} 

.visual_slide2 .slideshow-container2{
    margin: 0 60px 0 60px;
}

.visual_slide3{
    background: #000;
    padding-bottom: 10px;
}

.visual_slide3 li > span{ 
    position: inline-block;
    font-size: 12px;
    color: #000;
}

.visual_slide3 .slideshow-container3{
    margin: 0 50px 0 50px;
    background: #000;
}

.visual_slide3 .slideshow-container3 .black{
    background: #000 !important;
}

.visual_slide4 .sub-main{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.visual_slide4 .sub-main ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.visual_slide4 .sub-main ul li img{
    width: 800px;
    height: 150px;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: 70px;
    margin-bottom: 70px;
}

.visual_slide5 .slideshow-container5 ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    transition: all 0.5s;
}

.visual_slide5 .slideshow-container5 ul li{
    margin-bottom: 40px;
}

.visual_slide5 .slideshow-container5 ul li img{
    max-width: 96%;
    margin-left: 10px;
    margin-right: 10px;
}

.visual_slide5 .slideshow-container5 .weekly,
.visual_slide5 .slideshow-container5 .best{
    padding: 0 40px 50px 40px;
    font-size: 13px;
}

.visual_slide5 .slideshow-container5 .weekly .price,
.visual_slide5 .slideshow-container5 .best .price{
    font-size: 25px;
    margin-top: 30px;
    font-weight:900;
    color: #000;
}

.visual_slide5 .slideshow-container5 .weekly ul li a img:hover,
.visual_slide5 .slideshow-container5 .best ul li a img:hover
{
    opacity: 0.7;
    filter: alpha(opacity=35);      /*갸꿀*/
}